<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            background-color: #4744440c; /* Promijenite ovu vrijednost u željenu boju */
        }
        a {
            color: rgb(69, 114, 71); /* Boja linkova */
            text-decoration: none; /* Uklanjanje podvlačenja */
        }

        /* Stilovi za linkove na hover (kada korisnik pređe mišem preko linka) */
        a:hover {
            color: gray; /* Promjena boje na hover */
        }
        .gallery img {
            width: 100%;
            cursor: pointer;
            font-weight: bold;
        }
        .modal-body img {
            width: 100%;
        }
        .audio {
            margin-top: 20px;
        }
        .youtube-video {
            margin-top: 20px;
        }
        .footer {
            background-color: #ffffff;
            padding: 20px;
        }
        .footer img {
            max-width: 500px; 
        }
        .lj {
            background-color: #ffffff2c;
        }
        .slika {
            width: 100%;
            height: 200pt;
        }
        
    </style>
</head>
<body>

    <!--navigacija           -->
    <nav class="navbar navbar-expand-lg" style="background-color: #ffffff33;">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="https://davidloboda.github.io/multimedia/templates/david.html">David</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://davidloboda.github.io/multimedia/templates/igor.html">Kolega Igor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://davidloboda.github.io/multimedia/templates/index.html">Početna</a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
    

    <div class="container mt-4">
        <h1 class="text-center mb-4">David</h1><!--
        <p class="text-center">Moje ime je David Loboda trenutno sam student <a href="https://www.ferit.unios.hr/">FERIT-a</a><br>
        Nakon završene <a href="http://ss-poljoprivredna-veterinarska-os.skole.hr/">poljoprivredne</a> škole smijera Poljoprivredni tehničar fitofarmaceut <br>
        upisujm  <a href="https://www.fazos.unios.hr/">FAZOS</a> te nakon prvog semestra odustajem od tog studija. Nakon toga otvaram svoj obrt za proizvodnu prirodnih sokova <br> koji sam imao otvoren do 2023.<br>
        Nakon pet godina od poslijednjeg školovanja upisujem FERIT te sam trenutno na 3. godini Računarstva.
        </p>-->
        <div class="row">
            <div class="col text-left lj">
                <p>Datum ređenja: 10.7.1997</p>
                <p>Mjesto ređenja: <a href="https://www.google.com/maps/place/Baja,+Ma%C4%91arska/@46.1827901,18.8160934,11z/data=!3m1!4b1!4m6!3m5!1s0x47431f886d9243d3:0x1a3097a4b762bcc8!8m2!3d46.1817951!4d18.9543051!16zL20vMDN2cjRz?entry=ttu">Mađarska</a></p>
                <p>Prebivalište: <a href="https://www.google.com/maps/@45.5272485,19.002952,919m/data=!3m1!1e3?entry=ttu">Dalj</a></p>
            </div>
            <div class="col text-right">
                <p>Moje ime je David Loboda trenutno sam student <a href="https://www.ferit.unios.hr/">FERIT-a</a><br>
                    Nakon završene <a href="http://ss-poljoprivredna-veterinarska-os.skole.hr/">poljoprivredne</a> škole smijera Poljoprivredni tehničar fitofarmaceut <br>
                    upisujm  <a href="https://www.fazos.unios.hr/">FAZOS</a> te nakon prvog semestra odustajem od tog studija. Nakon toga otvaram svoj obrt za proizvodnu prirodnih <a href="https://plodovi.hr/proizvodac/eko-loboda">sokova</a> <br> koji sam imao otvoren do 2023.<br></p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col text-center">
        </div>
        

        <h4 class="text-left">Iskustvo:</h4>
        <hr>
        <p>Vozač taksija za Cammeo, <br>
            Dostavljač paketa udruga Slap,<br>
            Geodetska istraživanja Ribel, <br>
            Obrt za proizvodnju i trgovinu Loboda
        </p>
        <h4 class="text-left">Hobi:</h4>
        <hr>
        <p>Sviram tamburu, programiram mikroračunala i uživam u planinarenju.<br>
             S obzirom na svoju povezanost s poloprivredom i programiranjem pokušavam stvoriti inovativna rijršrnja za unaprijeđivanje poljoprivrede.</p>
        <h4 class="text-left">Vještine:</h4>
        <hr>
        <p>Posjedujem vještine u programskim jezicima C, Python i MicroPython, kao i u korištenju frameworka Django za razvoj web aplikacija.<br>
            Također, iskusan sam u radu s Flutterom za izradu mobilnih aplikacija te u SQL-u za upravljanje bazama podataka.</p>
        </div>
        <p class="text-center"></p>
        <h4 class="text-center">Galerija</h4>

        <div class="row mt-4 gallery" style="border-radius: 8px;">
            <div class="col-md-3">
                <p class="text-center" >JPG</p>
                <img src="./images/david.jpg" alt="David 1" data-bs-toggle="modal" data-bs-target="#davidModal1" style="border-radius: 10px;" class="slika">
            </div>
            <div class="col-md-3">
                <p class="text-center">GIF</p>
                <img src="./images/giphy.gif"  alt="David 2" data-bs-toggle="modal" data-bs-target="#davidModal2" style="border-radius: 10px;" class="slika">
            </div>
            <div class="col-md-3">
                <p class="text-center">BMP</p>
                <img src="./images/tambura (1).bmp" alt="David 3" data-bs-toggle="modal" data-bs-target="#davidModal3" style="border-radius: 10px;" class="slika">
            </div>
            <div class="col-md-3" >
                <p class="text-center">PNG</p>
                <img src="./images/fish.png" alt="David 4" data-bs-toggle="modal" data-bs-target="#davidModal4" style="border-radius: 10px;" class="slika">
            </div>
        </div>
    </div>

    <!-- Modal 1 -->
    <div class="modal fade" id="davidModal1" tabindex="-1" aria-labelledby="davidModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="./images/david.jpg" alt="David 1">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="modal fade" id="davidModal2" tabindex="-1" aria-labelledby="davidModal2Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="./images/giphy.gif" alt="David 2">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 3 -->
    <div class="modal fade" id="davidModal3" tabindex="-1" aria-labelledby="davidModal3Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="./images/tambura (1).bmp" alt="David 3">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 4 -->
    <div class="modal fade" id="davidModal4" tabindex="-1" aria-labelledby="davidModal4Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="./images/fish.png" alt="David 4">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col text-center">
            <!-- Prazan redak za razmak -->
        </div>
    </div>

    <div class="row mt-4 audio">
        <div class="col text-center">
            <audio controls>
                <source src=".Kopija datoteke 21. tra 18.21_.m4a" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col text-center">
            <!-- Prazan redak za razmak -->
        </div>
    </div>

    <div class="row   youtube-video">
        <div class="col text-center">
            <p>Mjesto gdje živim</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0NoXtGJ90m8?si=rCafgeD9Ucfs81Qp" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>



<div class="row mt-5">
    <div class="col text-center">
        <!-- Prazan redak za razmak -->
    </div>
</div>
<div class="footer">
    <div class="row kon">
        <div class="col">
            <img src="./images/ferit_0_0.webp" alt="Slika">
        </div>
        <div class="col">
            <div class="footer">
                <p>Ovu stranicu su izradili David i Igor za kolegij<br> Multimedijska tehnika</p>
            </div>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
