<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Igor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <style>
       a{
        text-decoration: none;
       }
        /* Stilovi za linkove na hover (kada korisnik pređe mišem preko linka) */
        a:hover {
            color: gray; /* Promjena boje na hover */
        }
        .gallery img {
            width: 100%;
            cursor: pointer;
        }
        .modal-body img {
            width: 100%;
        }
        .audio {
            margin-top: 20px;
        }
        .youtube-video {
            margin-top: 10px;
        }
        .footer {
            background-color: #ffffff;
            padding: 20px;
        }
        .footer img {
            max-width: 500px; 
        }
        .kon {
            background-color: #ffffff;
        }
    </style>
</head>
<body style="background-image:url(./images/backgrnd.jpg); background-size: auto;   ">

    <!--navigacija-->
    <nav class="navbar navbar-expand-lg" style="background-color: #ffffff33;">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page">Igor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://davidloboda.github.io/multimedia/templates/david.html">Kolega David</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://davidloboda.github.io/multimedia/templates/index.html">Početna</a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
  

    <div class="container mt-4" style="background-color:rgba(255, 255, 255, 0.295); border-radius: 8px;">
        <h1 class="text-center">Igor Balić</h1>
        <h3>Općenito o meni:</h3><hr>
            <p>Pozdrav! Moje ime je  Igor Balić i student sam 
            <a href="https://www.ferit.unios.hr/" style="color: rgba(255, 255, 255, 0.726);">FERIT-a.</a><br>
            Trenutno sam na trećoj godini preddiplomskog stručnog studija računarstva. 
            Rođen sam 02.07.1999. godine u Vinkovcima.
        Završio sam  <a href="http://ss-tehnicka-ntesla-vu.skole.hr/" 
        style="color: rgba(255, 255, 255, 0.726);">Tehničku školu Nikole Tesle u Vukovaru</a> i stekao zvanje tehničar za računalstvo. <br>
        Nakon svog srednjoškolskog obrazovanja upisujem 
            <a href="https://www.fizika.unios.hr/" style="color: rgba(255, 255, 255, 0.726);">Odjel za fiziku</a> u Osijeku gdje sam studirao 2 semestra.</p><hr>
            <h3>Kontakt informacije:</h3>
            <p>E-mail: igor.balic.27@gmail.com, ibalic@etfos.hr</p>
            <a href="https://github.com/Iggy2399" >
            <img src="./images/github.png" style="width: 60px; height: 50px;">
             </a>
             <a href="https://gitlab.com/Igor.Balic" >
                <img src="./images/gitlab.jpg" style="width: 50px; height: 40px; border-radius: 100%;"></a>
                <p>GitHub i GitLab </p><hr>
                <h3>Iskustvo:</h3>
                <p>Stručna praksa "Frontend programiranje" web stranica u "Informatika Fortuno".</p>
                <p>Rad na inventurama u trgovinama za firmu "Dantem". </p>
                <p>Dvije sezone sam radio na moru u restoranu kao kuhar.</p>
                <p>Telefonsko anketiranje za tvrtku "IPSOS".</p>
                <p>Sezonski posao u proizvodnji smrznutog voća i povrća.</p><hr>
                
            <H3>Hobiji:</H3>
            <p>Glazba mi je jedan o većih hobija, u slobodno vrijeme sviram gitaru. Također sport isto, nekoliko puta tjedno se bavim calisthenicsom i igram basket kada se ekipa okupi.
                Ljubitelj sam filmova, serija i video igrica. Volim tehnologiju i znanost općenito.
            </p><hr>
            <h3>Vještine:</h3>
            <p>Smatram se komunikativnom osobom i timskim igračem. Brzo usvajam nove vještine. 
            Dobro znanje engleskog jezika u pismu, čitanju i razgovoru. Imam iskustva u radu s frontend i backend razvojem web stranica u Angular frameworku, također i NodeJs za backend i baze podatak s MySQL.
            Općenito poznavanje C, JavaScript, TypeScript, PHP i Java programskog jezika. Machine learning i Deep learning uz pomoć Python programskog jezika i Keras biblioteke.  </p><hr>

        
        <h4 class="text-center">Galerija</h4>

        <div class="row mt-4 gallery" style="background-color:rgba(0, 0, 0, 0.404); border-radius: 8px;">
            <div class="col-md-3">
                <p class="text-center" style="color: rgba(255, 255, 255, 0.836);">JPG</p>
                <img src="./images/igor.jpg" alt="David 1" data-bs-toggle="modal" data-bs-target="#davidModal1" style="border-radius: 10px;" class="slika">
            </div>
            <div class="col-md-3">
                <p class="text-center" style="color: rgba(255, 255, 255, 0.836);">GIF</p>
                <img src="./images/lbj.gif" alt="David 2" data-bs-toggle="modal" data-bs-target="#davidModal2" style="border-radius: 10px;" class="slika">
            </div>
            <div class="col-md-3">
                <p class="text-center" style="color: rgba(255, 255, 255, 0.836);">BMP</p>
                <img src="./images/lebron.bmp" alt="David 3" data-bs-toggle="modal" data-bs-target="#davidModal3" style="border-radius: 10px;" class="slika">
            </div>
            <div class="col-md-3" style="color: rgba(255, 255, 255, 0.836);">
                <p class="text-center">WEBP</p>
                <img src="./images/porš.webp" alt="David 4" data-bs-toggle="modal" data-bs-target="#davidModal4" style="border-radius: 10px;" class="slika">
            </div>
        </div>
    </div>


    <!-- Modal 1 -->
    <div class="modal fade" id="davidModal1" tabindex="-1" aria-labelledby="davidModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="./images/igor.jpg" alt="prazno" class="slika">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="modal fade" id="davidModal2" tabindex="-1" aria-labelledby="davidModal2Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="./images/lbj.gif" alt="prazno" class="slika">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 3 -->
    <div class="modal fade" id="davidModal3" tabindex="-1" aria-labelledby="davidModal3Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="./images/lebron.bmp" alt="prazno" class="slika">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 4 -->
    <div class="modal fade" id="davidModal4" tabindex="-1" aria-labelledby="davidModal4Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="./images/porš.webp" alt="prazno" class="slika">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col text-center">
            <!-- Prazan redak za razmak -->
        </div>
    </div>

    <div class="row mt-4 audio">
        <div class="col text-center">
            <h3 style="color: aliceblue;">Glazba</h3>
            <h3 style="color: rgb(253, 253, 253);">Moj cover gitarom na pjesmu smooth operator</h3>
            <audio controls>
                <source src="./Audio files/Smooth Mix.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col text-center">
            <!-- Prazan redak za razmak -->
        </div>
    </div>

    <div class="row youtube-video">
        <div class="col text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GZIyusQaS9s?si=QqwI9uxlL2r6wKxs" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="footer" style="background-color: gray;">
    <div class="row kon" style="background-color: gray; " >
        <div class="col">
            <img src="./images/ferit_0_0.webp" alt="Slika" style="border-radius: 10px;">
        </div>
        <div class="col" style="background-color: gray;">
            <div class="footer" style="background-color: gray;">
                <p>Ovu stranicu su izradili David i Igor za kolegij<br> Multimedijska tehnika</p>
            </div>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
