<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitalni životopis</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <style>
      
        .card {
            margin-top: 20px;
        }
        
        .footer {
            
            padding: 20px;
            
        }
        .footer img {
            max-width: 500px; 
        }
        
    </style>
</head>
<body style="background-image: url(./images/backgrnd.jpg);">
    <!--Navigacija-->
  

    <nav class="navbar navbar-expand-lg" style="background-color: #ffffff33;">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

              <li class="nav-item">
                <a class="nav-link" href="https://perlamulti.webflow.io/">Kolega Perlić</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://meskeiperla.webflow.io/meske">Kolega Mesić</a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
  
      <!--Sadržaj početne-->
    <h1 class="text-center mt-4 mb-4"><a href="https://www.ferit.unios.hr/upisi-i-studijski-programi/strucni-prijediplomski-studij#racunarstvo#SR6-02" style="text-decoration: none;" id="multi">Multimedijska tehnika</a> </h1>
    <p class="text-center" id="parag">Ova stranica je projektni zadatak iz kolegija Multimedijska tehnika. <br>
    Cilj je izraditi digtalni životopis.
    </p>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card text-center" style="background-color: #ffffff00;">
                    <img src="./images/david.jpg" alt="Slika 1" data-bs-toggle="modal" data-bs-target="#davidModal">
                    <div class="card-body" style="background-color: rgba(128, 128, 128, 0.5);">
                        <h5 class="card-title", href="david.html">David Loboda</h5>
                        <a href="david.html" class="btn btn-dark">Više o osobi</a>
                    </div>
                </div>
            </div>
            
                <div class="col-md-6">
                <div class="card text-center" style="background-color: #ffffff00;">
                    <img src="./images/no background.png" class="card-img-top" alt="Slika 2" data-bs-toggle="modal" data-bs-target="#igorModal">
                    <div class="card-body" style="background-color: rgba(128, 128, 128, 0.5);">
                        <h5 class="card-title">Igor Balić</h5>
                        <a href="igor.html" class=" btn btn-dark">Više o osobi</a>
                    </div>
                </div>
                </div>
            
            
        </div>
    </div>

    <!-- David Modal -->
    <div class="modal fade" id="davidModal" tabindex="-1" aria-labelledby="davidModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="./images/david.jpg" class="img-fluid" alt="David Loboda">
                </div>
            </div>
        </div>
    </div>

    <!-- Igor Modal -->
    <div class="modal fade" id="igorModal" tabindex="-1" aria-labelledby="igorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="./images/igor.jpg" class="img-fluid" alt="Igor Balić">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <!-- Prazan redak za razmak -->
        </div>
    </div>
    <div class="footer" style="background-color: rgba(128, 128, 128, 0.678);">
        <div class="row kon"  >
            <div class="col">
                <a href="https://www.ferit.unios.hr/">
                <img src="./images/ferit_0_0.webp" alt="Slika" style="border-radius: 10px;">
            </a>
            </div>
            <div class="col" >
                <div class="footer">
                    <p>Ovu stranicu su izradili David i Igor <br>za kolegij Multimedijska tehnika</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
