.card:hover{
    box-shadow: 8px 8px 8px rgba(43, 1, 43, 0.719);
    transform:scale(1.1);
    
}
h1:hover{
  
  transform:scale(1.1);
}
h1{
  transition: 0.3s;
}

.card{
  transition:.3s;
  margin: 3rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff2d;
    border-radius: 5px;
   
  }
  
li{
float: left;
}
#multi{
  color: rgba(255, 255, 255, 0.836);
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
#parag{
  color: rgba(255, 255, 255, 0.705);
  font-size: larger;
}
  
li a {
  transition: 0.3s;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    transform: scale(1.1);
    color: rgba(238, 159, 13, 0.747);
}
.active {
    background-color: #294ef0;
    font-size: large;
}
body{
  font-family:'Times New Roman', Times, serif;
  font-size: large;
  
}
.content{
  transform: scale(1.1);
}
.slika:hover{
  transform: scale(1.1);
  
}
.slika{
  transition: 0.3s;
}