.card:hover{
    box-shadow: 8px 8px 8px rgba(43, 1, 43, 0.719);
    transform:scale(1.1);
    
}
h1:hover{
  
  transform:scale(1.1);
}
h1{
  transition: 0.3s;
}

.card{
  transition:.3s;
  margin: 3rem;
}


#multi{
  color: rgba(255, 255, 255, 0.836);
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
#parag{
  color: rgba(255, 255, 255, 0.705);
  font-size: larger;
}

.navbar{
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5%;
  margin-right: 5%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #ffffff8e;
    border-radius: 8px;
    
}
.active:hover {
    
    font-size: x-large;
}
body{
  font-family:'Times New Roman', Times, serif;
  font-size: large;
  
}
.content{
  transform: scale(1.1);
}
.slika:hover{
  transform: scale(1.1);
  
}
.slika{
  transition: 0.3s;
}
